@model IEnumerable<MySourceControlSystem.Web.ViewModels.Repositories.UserRepositoryViewModel>

@{
    this.ViewData["Title"] = "User Repository";
}

<div class="row">

    @foreach (var repository in this.Model)
    {
        <div class="col-sm-5 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@repository.Name</h5>
                    <p class="card-text">@repository.Description</p>
                    <p class="card-text">Type: @repository.Type</p>
                    <a asp-controller="Repositories" asp-action="ById" asp-route-id="@repository.Id" class="btn btn-primary">View Repository</a>
                    <a asp-controller="Repositories" asp-action="DeleteRepository" asp-route-id="@repository.Id" class="btn btn-danger float-lg-right">Delete Repository</a>
                </div>
            </div>
        </div>
    }
</div>
